{% extends "base.html" %}

{% block metarefresh %}
    <meta http-equiv="refresh" content="10">
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Dashboard</h1>
        <p>Bekijk hieronder alle openstaande vragen naar hulp</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Vragen naar hulp</h2>
	  {% if requests %}
	    <table class="table table-striped">
		<tr>
		  <th>Nummer of Naam</th>
		  <th>Wachttijd</th>
		  <th>Behandelt</th>
		</tr>
		{% for request in requests %}
		  <tr>
		    <form class="form-inline" action="/dashboard/resolve">
			<td>{{request.table_number}}</td>
			<td>{{request.wait_minutes}}</td>
			<input type="text" name="request_id" value="{{request._id}}" hidden>
			<td><input type="submit" value="Behandelt" class="btn btn-primary"></td>
		    </form>
		  </tr>
		{% endfor %}
	    </table>
	  {% else %}
            <p>Alle klanten zijn momenteel geholpen - geen openstaande vragen.</p>
  	  {% endif %}
        </div>    
      </div>
    </div>
{% endblock %}
